* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 5%;
    background: transparent;
    height: 60px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 120px;
    width: auto;
    object-fit: contain;
    position: relative;
    top: 10px;
    filter: brightness(3);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2em;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #5de0e6;
}

.hero {
    height: 100vh;
    background: #006573;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 8%;
    color: white;
    position: relative;
    overflow: hidden;
}


.hero-text {
    flex: 1;
    text-align: left;
    z-index: 2;
}

.hero-text h1 {
    font-family: 'Verdana', sans-serif; 
    font-size: 3.4em;
    color: #5de0e6;
    letter-spacing: 1px;
    font-weight: bold;
}

.hero-text p {
    font-family: 'Georgia', serif;
    color: #e2fcff;
    font-size: 1.3em;
    line-height: 1.9;
}


.hero-logo {
    position: absolute;
    right: -8%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.hero-logo img {
    height: 900px;
    width: auto;
    filter: brightness(3);
}


.projetos {
    height: 100vh;
    padding: 8em 10%;
    background:#007a8a ;
    text-align: center;
    color: white;
}

.projetos h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 2.4em;
    color: #72f1ff;
    letter-spacing: 0.5px;
    margin-bottom: 1.2em;
}

.projetos p {
    font-family: 'Georgia', serif;
    color: #e2fcff;
    font-size: 1.2em;
    line-height: 1.9;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
    padding: 2em 0;
    margin-top: 2em;
}



.card {
    background: linear-gradient(145deg, #ffffff, #66a2a8);
    padding: 2em;
    border-radius: 20px;
    border: 2px solid #0f7a86;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
    flex: 1 1 250px;
    max-width: 300px;
    text-decoration: none;
    color: #00474e;
    transition: all 0.4s ease;
}

.card:hover {
    transform: translateY(-12px) scale(1.02);
    background: linear-gradient(145deg, #ffffff, #66a2a8);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}



.card small {
    display: block;
    margin-top: 0.5em;
    font-size: 0.9em;
    font-family: 'Georgia', serif;
    font-style: italic;
    color: #005e66;
}


.disciplina {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    padding: 0 10%;
    background: #009cb0;
    color: white;
}

.texto {
    flex: 1;
    text-align: left;
}

.texto h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 2.4em;
    color: #72f1ff;
    letter-spacing: 0.5px;
    margin-bottom: 1.2em;
}

.texto p {
    font-family: 'Georgia', serif;
    color: #e2fcff;
    font-size: 1.2em;
    line-height: 1.9;
    
}

.wordcloud {
    flex: 1;
    display: flex;
    justify-content: center;
}

.wordcloud img {
    max-width: 380px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: brightness(1.1);
}



footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 1em;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .hero-text {
        text-align: center;
    }
    .hero-logo img {
        height: 200px;
        margin-top: 1em;
    }
    .hero h1 {
        font-size: 1.8em;
    }
    .cards {
        flex-direction: column;
        align-items: center;
    }
    .disciplinas {
        flex-direction: column;
    }

    
}
